bin/user_save.dat
*.swp
src/rosetta-test-framework/test-accounts/*
tags
src/rosetta-test-framework/rtf
src/keygen/find-new-mq
src/rosetta-test-framework/SERVER-OUTPUT-FILE.txt
src/rosetta-test-framework/test-server
src/rosetta-test-framework/user-spawner
benchmark-depot/*/*/bench-code/bench
benchmark-depot/bigint-benchmarks/mul-fast/bench-code/bench
bin/server_gen_priv_key
bin/server_gen_pub_key
bin/test_argon2
bin/test_blake2b
bin/test_chacha20
bin/test_signatures
bin/rosetta-server
correctness-tests/calc-results/*
